<!DOCTYPE html>

<html lang="ko">
    <head>
        <%- include('common/header.ejs')%>
        <link rel="stylesheet" type="text/css" href="/lib/styles/montserrat.css">
        <link rel="stylesheet" type="text/css" href="/lib/styles/index.css">
        <script src="https://www.everland.com/timeinfo/today.js"></script>
        <script src="/lib/scripts/index.js"></script>
        <title>EVERLAND</title>
    </head>
    <body onload="loaded()">
        <%- include('common/navigation.ejs')%>
        <div id="main">
            <div id="show">
                <div id="img-slide1" class="slide slide1" aria-label="에버랜드 파크 사진 1" style="display: block; opacity: 1;">
                    <h1 class="slide-txt">환상의 나라 에버랜드</h1>
                </div>
                <div id="img-slide2" class="slide slide2" aria-label="에버랜드 파크 사진 2" style="display: none; opacity: 0;">
                    <h1 class="slide-txt">환상의 나라 에버랜드</h1>
                </div>
                <div id="img-slide3" class="slide slide3" aria-label="에버랜드 파크 사진 3" style="display: none; opacity: 0;">
                    <h1 class="slide-txt">환상의 나라 에버랜드</h1>
                </div>
                <div id="img-slide4" class="slide slide4" aria-label="에버랜드 파크 사진 4" style="display: none; opacity: 0;">
                    <h1 class="slide-txt">환상의 나라 에버랜드</h1>
                </div>
            </div>
            <div id="frame">
                <h1 class="subj-title mon-font">Spotlight</h1>
                <hr class="section-div">
                <div class="section-div">
                    <h1 class="subj-title mon-font">Information</h1>
                    <div class="ev-today" id="ev-view">
                        <div id="ev-today-title">
                            <h2 class="today-ev-up mon-font" id="ev-today">EVERLAND TODAY</h2>
                            <h3 class="today-ev-up" id="ev-today-kr">오늘의 에버랜드</h3>
                        </div>
                        <div id="ev-today-content">
                            <h2 id="today-day" class="today-ev-up"></h2>
                            <h1 id="today-open-time" class="today-ev-up mon-font"></h1>
                            <h3 id="ev-open" class="today-ev-up"></h3>
                        </div>
                        <div id="ev-today-content-selection">
                            <button class="today-cont-sel-div" name="inf-div-0" id="stops-info-div" onclick="todayEv(0)">운휴 안내</button>
                            <button class="today-cont-sel-div" name="inf-div-1" id="shows-info-div" onclick="todayEv(1)">공연 안내</button>
                            <button class="today-cont-sel-div" name="inf-div-2" id="operations-div" onclick="todayEv(2)">운영 안내</button>
                        </div>
                    </div>
                </div>
                <hr class="section-div">
                <div class="section-div">
                    <h1 class="subj-title mon-font">Visit Everland</h1>
                    <div id="visit-ev">
                        <div class="visit-ev-container">
                            <a class="visit-ev-a" href="https://reservation.everland.com/web/main.do?method=index">
                                <svg class="visit-ev-svg" viewbox="0 0 70 45" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" role="img" aria-label="이용권 예매">
                                    <title>이용권 예매</title>
                                    <path d="M 5 5 h 60 v 10 C 55 15 55 30 65 30 v 10 h -60 v -10 C 15 30 15 15 5 15 v -11" fill="transparent" stroke="#808184" stroke-width="2"/>
                                    <line x1="50" y1="5" x2="50" y2="10" stroke="#808184" stroke-width="2"/>
                                    <line x1="50" y1="15" x2="50" y2="20" stroke="#808184" stroke-width="2"/>
                                    <line x1="50" y1="25" x2="50" y2="30" stroke="#808184" stroke-width="2"/>
                                    <line x1="50" y1="35" x2="50" y2="40" stroke="#808184" stroke-width="2"/>
                                    <rect x="17" y="9" rx="5" ry="5" width="25" height="27" fill="transparent" stroke="#ff462f" stroke-width="2"/>
                                </svg>
                                <p class="visit-ev-a-txt">이용권</p>
                            </a>
                            <a class="visit-ev-a" href="https://www.everland.com/web/everland/membership/mem_year/ticket/index.html">
                                <svg class="visit-ev-svg" viewbox="0 0 52 34" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="연간회원권">
                                    <title>연간회원권</title>
                                    <rect x="11" y="2" rx="5" ry="5" width="30" height="30" fill="transparent" stroke="#808184" stroke-width="2"/>
                                    <path d="M 16 32 c 0 -13 20 -13 20 0" fill="transparent" stroke="#808184" stroke-width="2"/>
                                    <circle cx=26 cy="16" r="6" fill="transparent" stroke="#ff462f" stroke-width="2"/>
                                </svg>
                                <p class="visit-ev-a-txt">연간회원권</p>
                            </a>
                            <a class="visit-ev-a" href="https://www.everland.com/web/everland/favorite/restaurant/index.html">
                                <svg class="visit-ev-svg" viewbox="0 0 56 36" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" role="img" aria-label="레스토랑">
                                    <title>레스토랑 </title>
                                    <circle cx="28" cy="18" r="12" fill="transparent" stroke="#808184" stroke-width="2"/>
                                    <circle cx="28" cy="18" r="7" fill="transparent" stroke="#ff462f" stroke-width="2"/>
                                    <path d="M 48 6 c -1.557 0 -3.858 7.004 -4.66 14 h 2.467 v 8.5 c 0 0.931 0.785 1.5 1.5 1.5 h 0.001 c 0.828 0 1.5 -0.672 1.5 -1.5 c 0.002 -5.037 0.009 -20.254 -0.001 -21.649 c -0.003 -0.494 -0.36 -0.851 -0.807 -0.851" fill="transparent" stroke="#808184" stroke-width="2"/>
                                    <path d="M 12 6 h -0.887 l 0.675 6.002 l -1.341 -0.002 l -0.003 -6 h -1 l 0.001 6 h -1.003 l 0.002 -6 h -1 l -0.005 6 h -1.291 l 0.597 -5.998 l -0.909 -0.002 s -0.611 5.038 -0.863 7.575 c -0.088 0.889 0.391 1.762 1.09 2.322 c 0.943 0.756 1.383 0.982 1.383 1.673 v 10.93 c 0 0.828 0.666 1.5 1.497 1.5 c 0.832 0 1.504 -0.672 1.504 -1.5 v -10.925 c 0 -0.702 0.433 -0.918 1.382 -1.669 c 0.713 -0.564 1.22 -1.454 1.121 -2.356 c -0.25 -2.55 -0.25 -2.55 -0.95 -7.55" fill="transparent" stroke="#808184" stroke-width="2"/>
                                </svg>
                                <p class="visit-ev-a-txt">레스토랑</p>
                            </a>
                            <a class="visit-ev-a" href="https://www.everland.com/service/front/frontFavorite.do?method=favorAtrList&siteCode=CT00101&themeCode=CT00401">
                                <svg class="visit-ev-svg" viewbox="0 0 70 46" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" role="img" aria-label="어트랙션">
                                    <title>어트랙션</title>
                                    <path d="M 17 5 V 35 M 42 5 V 35 M 25 5 V 35 M 34 5 V 35 M 17 13 H 42 M 42 21 H 17 M 17 29 H 42 L 17 5 M 25 5 L 42 21 M 42 13 L 34 5 M 17 13 L 41 35 M 31 35 L 17 21 M 17 29 L 23 35 M 48.38 6 V 35 M 42 5 L 48.38 12 L 42 13 L 48.38 20 L 42 21 L 48.38 28 L 42 29 L 48.38 35" fill="transparent" stroke="#808184" stroke-width="1"/>
                                    <path d="M 17 5 h 25 c 11 0 6 2 0 2 c -8 1 -1 20 -19 21 c -4 -1 -5 -2 -6 -3" fill="transparent" stroke="#ff462f" stroke-width="2"/>
                                </svg>
                                <p class="visit-ev-a-txt">어트랙션</p>
                            </a>
                            <a class="visit-ev-a" href="https://www.everland.com/web/everland/how/traffic/how_traffic_info04.html">
                                <img src="https://wwwcdn.everland.com/web/images/front/everland/main_new/ico_smart_reservation_05_01.png" class="visit-ev-svg" alt="교통">
                                <p class="visit-ev-a-txt">교통</p>
                            </a>
                            <a class="visit-ev-a" href="https://www.everland.com/web/everland/now/special/special_package.html">
                                <svg class="visit-ev-svg" viewbox="0 0 70 46" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" role="img" aria-label="스페셜 패키지">
                                    <title>스페셜 패키지</title>
                                    <path d="M 8 8 h 45 l 15 15 l -15 15 h -45 v -31" fill="transparent" stroke="#808184" stroke-width="2"/>
                                    <path d="M 24 14 L 21.167 19.918 H 15 L 20 24 L 18 31 L 24 27 L 30 31 L 28 24 L 33 20 H 26.833 L 24 14 z" fill="transparent" stroke="#ff462f" stroke-width="2"/>
                                    <circle cx="50" cy="23" r="4" fill="transparent" stroke="#808184" stroke-width="2"/>
                                </svg>
                                <p class="visit-ev-a-txt">스페셜 패키지</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./common/footer.ejs')%>
    </body>
</html>