<!DOCTYPE html>

<html lang="ko">
    <head>
        <%- include('../common/header.ejs')%>
        <link rel="stylesheet" type="text/css" href="/lib/styles/montserrat.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://www.everland.com/timeinfo/today.js"></script>
        <title>EVERLAND</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs')%>
        <div class="main">
            <div class="floating-div">
                <h1 class="section-title">운휴 안내</h1>
            </div>
        </div>
        <%- include('../common/footer.ejs')%>
    </body>
</html>