<div class="footer">
    <div id="footer-top">
        <ul class="footer-lst">
            <li class="footer-lst">
                <a href="http://www.everland.com/web/everland/resort/intro/resort_intro.html" class="footer-lst" target="__blank" style="margin-left: 0;">에버랜드 이야기</a>
            </li>
            <li class="footer-lst">
                <a href="https://www.everland.com/web/everland/recruitment/cast/castinfo/cast_info_benefit.html" class="footer-lst" target="__blank">캐스트 소개</a>
            </li>
            <li class="footer-lst">
                <a href="http://www.everland.com/web/everland/recruitment/cast/recruitment/news/recruitment_guide01.html" class="footer-lst" target="__blank">채용</a>
            </li>
            <li class="footer-lst">
                <a href="https://pvoc.everland.com/" class="footer-lst" target="__blank">캐스트 참여</a>
            </li>
        </ul>
    </div>
    <div id="footer-bottom">
        <p class="footer-info">본 사이트는 에버랜드를 좋아하는 한 사람에 의해 개발되었으며, 에버랜드 공식 웹사이트가 아닙니다.</p>
        <p class="footer-info">This website is NOT official Everland website!</p>
        <p class="footer-info">아직 공사중인 사이트입니다! 개발상황에 따라 콘텐츠가 업데이트되고 있습니다. <a href="https://github.com/miho73/everland" class="footer-content" target="__blank">여기</a>에서 개발에 참여할 수 있습니다.</p>
    </div>
</div>