<!--[if IE]>
<p style="text-align: center; margin: 3px">IE9 이하 버전의 인터넷 익스플로러는 일부 지원되지 않습니다. 다른 브라우저를 이용해 주세요.</p>
<![endif]-->
<noscript>
    <p style="text-align: center; margin: 3px">스크립트 사용이 비활성화되어 있습니다. 웹사이트가 일부 작동하지 않을 수 있습니다.</p>
</noscript>
<div id="notice"></div>
<div id="navigation">
    <a href="/" class="nav-logo">
        <img class="nav-logo" src="/lib/images/logo_h.jpg" alt="Everland home">
    </a>
    <ul class="nav hide-on-mobile">
        <li class="nav">
            <a href="/" class="nav" style="border-left-width: 2px;">
                <p class="nav">에버랜드</p>
            </a>
        </li>
        <li class="nav">
            <a href="https://www.everland.com/web/caribbean/main.html" class="nav">
                <p class="nav">캐리비안 베이</p>
            </a>
        </li>
        <li class="nav">
            <a href="https://www.everland.com/web/hb/main.html" class="nav" style="border-right-width: 2px;">
                <p class="nav">홈브리지</p>
            </a>
        </li>
    </ul>
    <button class="nav-ham inline-on-mobile" onclick="hamburger()" aria-label="메뉴 열기">
        <div class="bun">
            <span id="top-patty1" class="pattyc"><span id="top-patty2" class="patty"></span></span>
            <span id="bottom-patty1" class="pattyc"><span id="bottom-patty2" class="patty" style="margin-bottom: 0;"></span></span>
        </div>
    </button>
</div>
<div id="hrefs">
    <a href="/enjoy_everland" class="hrefs-top">이용 안내</a>
    <a href="/attractions" class="hrefs-top">즐길거리</a>
</div>